.bodi{
    max-width: 1728px;
    height: 3501px;
    width: 100%;
    background-color:#191A19 ;
}
.header{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1500px;
    margin-left: 131px;
}
.logo{
   max-width:280px;
   width: 90%;

}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF ;
    column-gap: 30px;
    font-size: 20px;
}
.lin-1{
    position: relative;
    color: #FFFFFF;
}
.lin-1::after {
    content:"";
    height: 2px;
    width: 0%;
    background-color: #FF7420;
    position: absolute;
    bottom: 0;
    left: 0;
}
.lin-1:hover::after{
    width: 100%;
}
.eng-1{
    display: flex;
    max-width:383px;
    height: 66px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.eng-2{
    width: 90%;
    max-width:165px;
    height: 66px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cont{
    width: 194px;
    height: 66px;
    background-color:#FF7420 ;
    color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cla-1{
    padding-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.section{
    max-width:1728px;
    height: 500px;
    width: 90%;
}
.div-1{
    max-width: 1728px;
    width: 90%;
    font: inherit;
    vertical-align: baseline;
}
.div-2{
    position: absolute;
}
.img{
    max-width: 1728px;
    width: 100%;
}
.div-3{
   color: #FFFFFF;
   font-size: 64px;
   text-align: left;
   justify-content: center;
   align-items: center;
   margin-left: 109px;
   margin-top: 100px;
   position: relative;
}
.span{
    color:#FF7420 ;
    font-size: 64px;
    position: relative;
}
.div-4{
    align-items: center;
    justify-content: center;
    position: relative;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 109px;
    margin-top: 50px;
}
.our{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 66px;
    background-color: #FF7420;
    border-radius: 20px;
    row-gap: 40px;
}
.our-1{
    display: flex;
    column-gap: 30px;
     margin-top: 50px;
}
.view{
    background-color: #FFFFFF;
    max-width:208px;
    width: 100%;
    height: 66px;
    color: #191A19;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.all-1{
    background-color: #FF7420;
    max-width: 1728px;
    width: 100%;

}
.all{
    color:  #FFFFFF;
    margin-top: 310px;
    position: relative;
    display: flex;
}
.ha-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    column-gap: 40px;
}
.h-3{
    font-size: 60px;
    color: #191A19;
    display: flex;
}
.ul{
    display: flex;
    column-gap: 30px;
}
.li{
    position: relative;
    color: #FFFFFF;
    column-gap: 40px;
    display: flex;  
    max-width: 485.24;
    width: 100%; 
}
.li{
    
}
.li::after{
     content:"";
    height: 3px;
    width: 0%;
    color: #191A19;
    background-color:#191A19;
    position: absolute;
    bottom: 0;
    left: 0;
}
.li:hover::after{
    width: 100%;
}
.img-4{
    display: flex;
    max-width: 1728px;
    width: 100%;
}
.img-5{
    margin-left: 15px;
    margin-right: 15px;
    max-width:485px ;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.im-4{
    max-width: 485px;
    width: 100%;
}
.what{
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.what-1{
    color: #FF7420;
    font-size: 28px;
}
.i-am{
    width: 90%;
    max-width:900px;
    height:90px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 300px;
}
.i-am1{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.lead{
    font-size: 64px;
    margin-top: 30px;
}
.lef-div{
    color: #FFFFFF;
    max-width: 90%;
}
.requ{
    text-align: center;
    align-items: center;
    text-align: left;
    color: #FFFFFF;
    font-size:24px;
    padding-top:50px ;
    margin-bottom: 24px;
    margin-left: 59px;
}
.compl{
    max-width: 895px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 59px;
    font-size: 20px;
}
.lef-div{
    background-color: #FF7420;
    max-width: 963px;
    height: 661px;
    width: 100%;
}
.nome{
    margin-top: 20px;
    max-width: 300px;
    height: 76px;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: left;
    margin-left: 50px;
    border-radius: 10px;
}
.email{
    margin-top: 20px;
     max-width: 300px;
    height: 76px;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
}
.pone{
    margin-top: 20px;
    max-width: 300px;
    height: 76px;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: left; 
    margin-left: 50px;
    border-radius: 10px;
}
.pone-1{
    margin-top: 20px;
    max-width: 300px;
    height: 76px;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
}
.aaddit{
    max-width: 800px;
    height: 148px;
    width: 90%;
    padding-left: 20px;
    margin-left: 20px;
}
.tex{
     margin: 15px 0;
  resize: none;
  width: 600px;
  height: 130px;
}
.buutton{
    background-color: var(--main-yellow-color);
  width: 250px;
  height: var(--height-value);
  background-color: #191A19;
  color: #FFFFFF;
}
.submit{
    width:856px;
    height: 76px;
    margin-left: 20px;
}
.div-lef-rigt{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1728px;
    width: 100%;
    background-color: #191A19;
}
.rig-div{
    max-width: 499px;
    height: 661px;
    background-color: #FF7420;
    width: 100%;
    margin-left: 30px;
    text-align: left;
    align-items: center;
    justify-content: left;
    color: #FFFFFF;
    gap:0px;
}
.contact-us{
    margin-left: 20px;
    margin-top: 50px;
    padding-top: 30px;
    background-color: #191A19;
    color: #FFFFFF;
    width:384px;
    height: 76px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.con-2{
    color: #FFFFFF;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.con-3{
    color: #FFFFFF;
}
.o-1{
margin-left:20px ;
margin-bottom: 20px;
font-size: 16px;
}
.o-2{
    font-size: 20px;
    margin-bottom: 10px;
}
.qui-1{
    margin-left: 20px;
    font-size: 16px;
}
.quick{
    font-size: 20px;
    margin-bottom: 20px;
}
.ope-1{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
}
.ope{
    font-size: 20px;
    margin-bottom: 20px;
}
.do-you{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}